[Mode]
Mode : 决定调用哪个命令组
Mode=Config

Type : Win32或Win16
Type=Win16

Relative : 是否引用相对路径
Relative=True

[Config]
ApplicationName=imread.exe
ApplicationPath=\prog\imread.exe
CommandLine=\prog\video\eye01.mp4 0 1 0

[Legacy]
ApplicationName=imread.exe
ApplicationPath=D:\OneDrive\DUTE4T2\DUTFIN\Project\tests\imread\imread_master\x64\Release\imread.exe
CommandLine=D:\OneDrive\DUTE4T2\DUTFIN\Project\tests\imread\imread_master\imread\resources\eye01.mp4 0 1 0

[Debug]
ApplicationName=EyeMovementGenerate.exe
ApplicationPath=D:\OneDrive\DUTE4T2\DUTFIN\Project\tests\imread\imread_master\fusion\EyeMovementGenerate\EyeMovementGenerate.exe
CommandLine=

[Win32]
ApplicationName=AVG+SRPG.exe
ApplicationPath=D:\GREEN SOFTWARE\DEV\A true game\AVG+SRPG\Program\AVG+SRPG.exe
CommandLine=