/build
/libs

/src/main/assets
/src/main/jniLibs
/src/main/res

/src/main/java/Actions/*
/src/main/java/Animations/*
/src/main/java/Application/*
/src/main/java/Banks/*
/src/main/java/com/*
/src/main/java/Conditions/*
/src/main/java/Events/*
/src/main/java/Expressions/*
/src/main/java/Extensions/*
/src/main/java/Frame/*
/src/main/java/Movements/*
/src/main/java/Objects/*
/src/main/java/OI/*
/src/main/java/OpenGL/*
/src/main/java/Params/*
/src/main/java/RunLoop/*
/src/main/java/Runtime/*
/src/main/java/Services/*
/src/main/java/Sprites/*
/src/main/java/Transitions/*
/src/main/java/Util/*
/src/main/java/Values/*

!/src/main/java/Extensions/CExtLoad.java
!/src/main/java/Extensions/CRunTemplate.java
